body, p, h1, h2, h3, h4, h5, h6 {
  font-family: arial;
  margin: 0px;
}

body {
  background-color: #212121;
}

.container {
  min-width: 300px;
  max-width: 900px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin: auto;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-top: 50px;
}

.card {
  min-width: 260px;
  border-radius: 15px;
  background-color: #383838;
  margin: 10px 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  min-height: 70px;
}

.cardL {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-left: 20px;
}

.cname p {
  color: white;
}

.ctitle p {
  color: #7a7a7a;
}

.cardR {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.cpro-pic {
  width: 70px;
  height: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.cpro-pic img {
  border-radius: 50%;
  margin: 10px;
  background-repeat: no-repeat;
}
.cpro-pic:nth-child(1) {
  background-size: 70px 70px;
}