extend template.pug
block content
  //- mixin
  mixin card(i)
    .card(id="id-" + i.name)
      .cardL
        .cname
          p= i.name
        .ctitle
          p= i.title
          
      .cardR
        .cpro-pic
          img(src="./img/" + i.name.toLowerCase() + ".png")
            
  //- vars
  -
    var cards = [] 
    
    var bash = {
      name : 'Amy',
      title : 'Cheif officer',
    }
    
    var gareth ={
      name : 'Jake',
      title : 'detective',
    }
    
    var dawid ={
      name : 'Charles',
      title : 'detective',
    }
    
    cards.push(bash, gareth, dawid)
  
  .container
    for i in cards  
      +card(i)
